# macOS
.DS_Store

# jazzy docs
docs/docsets
build

# ruby tools
.bundle/
vendor/

# CocoaPods
Pods/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.swiftpm

# Xcode
*.xcworkspacedata
*/build/*
*/.build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
profile
*.moved-aside
DerivedData/
*.hmap
*.swp
*.swo
*.swn
xcuserdata/

# IntelliJ
.idea/
